.title {
    color: black;
    text-align: center;
    background-color: #e6f0e7;
}

body {
    background-color: #e6f0e7;
}

a {
    font-size: 25px;
    background: 0;
    padding: 8px;
    text-decoration: none;
    color: black;
  }
  
  .recipes-container div {
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 25px;
    justify-content: center;
  }
  
  .pretzels {
    background-color: #9CA89E;
  }
  
  .macarons {
    background-color: #A4B1A0;
  }
  
  .doughnuts {
    background-color: #517470;
  }